# Keys
MODKEY=Mod4
UP=Up
DOWN=Down
LEFT=Left
RIGHT=Right

# Theme
wmiifocuscol=('#EEEEEE' '#005577' '#006699')
wmiinormcol=('#BBBBBB' '#222222' '#000000')
wmiibackground='#111111'
fn setbackground {
	feh --bg-max /home/aht/lib/graphics/wallpaper/h06_00000007.jpg }

# Programs
WMII_TERM=(xterm -fa Monaco -fs 8)

# Column Rules
wmiir write /colrules <<!
/gimp/ -> 17+83+41
/.*/ -> 64+36
!

# Tagging Rules
wmiir write /tagrules <<!
/thunar/ -> ~
/acme/ -> 2
/sam/ -> 2
/opera/ -> 3
/surf/ -> 3
/chromium/ -> 3
/Navigator/ -> 3
/aqualung/ -> ~
/[Pp]d/ -> ~
/qsynth/ -> ~
/bristol/ -> ~
/timemachine/ -> ~
/MPlayer/ -> ~
/vlc/ -> ~
/inkscape/ -> ~
/mirage/ -> ~
/jkmeter/ -> F1
/baudline/ -> F1
/qjackctl/ -> F2
/ladi/ -> F2
/skype/ -> F2
/xchat/ -> F2
/Pidgin/ -> F2
/.*/ -> !
/.*/ -> 1
!

fn status
fn Action-status {
	for(bar in $home/.wmii/*.bar) {
		wi_runcmd $home/.wmii/bin/statusbar $bar &}}

# copy primary selection to clipboard
fn Key-$MODKEY-c {
	xsel -p | xsel -b -i &}

# copy clipboard to primary selection
fn Key-$MODKEY-x {
	xsel -b | xsel -p -i &}

# tag with Mod-t
fn Key-$MODKEY-t {
	sel=`{wi_selclient} {
	tag=`{wi_tags | wimenu -h $hist.tag -n 50} && wmiir xwrite /client/$sel/tags $tag } & }

# F1-F4 workspace
fn Key-$MODKEY-F^`{seq 1 4} { wmiir xwrite /ctl view `{echo $1 | sed 's/.*-//'} }
fn Key-Shift-$MODKEY-F^`{seq 1 4} { wmiir xwrite /client/sel/tags `{echo $1 | sed 's/.*-//'} }

fn Key-$MODKEY-Tab { /home/aht/.wmii/bin/search & }
fn Key-$MODKEY-q { wmiir xwrite /client/sel/ctl kill & }
fn Key-$MODKEY-e { wi_runcmd thunar & }
fn Key-$MODKEY-l { wi_runcmd slock }

fn Key-Print { scrot & }
