# Keys
MODKEY=Mod4

# Theme
wmiifocuscol=('#EEEEEE' '#005577' '#006699')
wmiinormcol=('#BBBBBB' '#222222' '#000000')
wmiibackground='#111111'
fn setbackground { feh --bg-max /home/aht/lib/graphics/wallpaper/421559main_hs-2010-07-a-print-full.jpg }

# Programs
WMII_TERM=(xterm -geometry 100x40 -fa Monaco -fs 8)

# Column Rules
wmiir write /colrules <<!
/gimp/ -> 17+83+41
/.*/ -> 62+38
!

# Tagging Rules
wmiir write /tagrules <<!
/xterm/ -> ~
/thunar/ -> ~
/acme/ -> 2
/opera/ -> 3
/surf/ -> 3
/Google-chrome/ -> 3
/Navigator/ -> 3
/xchat/ -> 4
/Pidgin/ -> 4
/aqualung/ -> ~
/[Pp]d/ -> ~
/qjackctl/ -> ~
/qsynth/ -> ~
/bristol/ -> ~
/MPlayer/ -> ~
/vlc/ -> ~
/inkscape/ -> ~
/mirage/ -> ~
/.*/ -> !
/.*/ -> 1
!

fn status
fn Action-status {
	for(bar in $home/.wmii/*.bar) {
		$home/.wmii/bin/statusbar $bar &}}

fn Key-$MODKEY-e { wi_runcmd thunar & }

fn Key-$MODKEY-p
fn Key-$MODKEY-r {
	ifs=() { cmd = `{wimenu -h $hist.prog -n $histlen <$progs_file} }
	wi_runcmd $cmd & }

# tagging for F1-F4
fn Key-$MODKEY-F^`{seq 1 4} { wmiir xwrite /ctl view `{echo $1 | sed 's/.*-//'} }
fn Key-Shift-$MODKEY-F^`{seq 1 4} { wmiir xwrite /client/sel/tags `{echo $1 | sed 's/.*-//'} }

fn Key-Print { scrot & }

fn Key-$MODKEY-s { /home/aht/.wmii/bin/search & }
